@charset "utf-8";

/* media query para impressora*/

* {
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

menu {
    display: none;
}

article::after {
    content: 'escrito por pomptrash';
}